<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>
sakusei
<%= form_for(@user) do |f| %>
ログインID<br />
  <%= f.text_field :login_id, id: :login_id, required: true %><br/ >
  ユーザー名<br />
  <%= f.text_field :name, id: :user_name, required: true  %><br />
  パスワード<br />
  <%= f.password_field :password, required: true  %><br />
  確認用<br />
  <%= f.password_field :password_confirmation, required: true  %><br />
  <%= f.submit %>
<% end %>